@use "../../assets/styles/partials/variables" as *;
.entry {
    // border: 2px solid violet;
    // padding-right: 1.5rem;
}

.entry__pos {
    display: flex;
    align-items: center;
    gap: 1.25rem;

    .divider {
        height: 1px;
        // background-color: var(--divider)
        background-color: $cloud;
        flex: 1;


    }


    // position: relative;
    // &::after {

    //     content: "";
    //     flex: 1;
    //     // display: block;
    //     height: 1px;
    //     background-color: #f00;
    //     position: absolute;
    //     width: 100%;
    //     top: 50%;
    //     margin-left: 1.25rem;
    //     display: block;
    // }
}