@use "../../assets/styles/partials/variables" as *;

.entry {
  &__word {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    // margin-bottom: 2rem;
  }

  &__term-phone {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__play {
    height: 3rem;
    width: 3rem;
  }

  &__phonetic {
    color: $violet;
  }

  &__definitions {
    // border: 1px solid $violet;
  }

  &__meaning {
    margin-top: 2rem;
  }

  &__meanings {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.8125rem;
    li {
      padding-left: 1.25rem;
      // color: $cinder;
      font-size: 0.9375rem;

      &::marker {
        color: $violet;
      }
    }
  }

  &__pos {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    font-weight: bold;
    // color: $cinder;
    font-style: italic;
    font-size: 1.125rem;
    margin-bottom: 2rem;

    .divider {
      height: 1px;
      background-color: var(--divider);
      flex: 1;
    }
  }

  &__example {
    margin-top: 0.8125rem;
    color: $stone;
  }

  &__source {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1.5rem;

    small {
      text-decoration: underline;
      color: $stone;
    }

    a {
      color: var(--body-color);
    }
  }
}

.label {
  color: $stone;
  font-size: 1rem;
}

.synonym__list {
  display: flex;
  gap: 1.5rem;
}

.synonyms {
  list-style-type: none;
  color: $violet;
  font-weight: bold;

  li {
    cursor: pointer;
  }
}

.source__link {
  display: flex;
  gap: 1rem;
  align-items: center;
  // text-decoration-color: var(--body-color);
  // text-decoration: ;


  img {
    height: 0.75rem;
    width: 0.75rem;
  }
}

hr {
  border: 0.75px solid var(--divider);
}
