@use "../../assets/styles/partials/variables" as *;
@use "../../assets/styles/partials/typography" as *;
@use "../../assets/styles/partials/mixins" as *;

.entry {
  &__word {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }

  &__term {
    @include tablet {
      @include heading-l;
    }
  }

  &__term-phone {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__play {
    height: 3rem;
    width: 3rem;

    @include tablet {
      height: 4.7rem;
      width: 4.7rem;
    }

    &:hover {
      cursor: pointer;

      .entry__play-circle {
        opacity: 1;
      }

      .entry__play-triangle {
        fill: white;
      }
    }

    &-circle {
      transition: all 0.2s;
    }

    &-triangle {
      transition: all 0.2s;
    }
  }

  &__phonetic {
    color: $violet;
    @include body-m;

    @include tablet {
      @include heading-m;
    }
  }

  &__meaning {
    margin-top: 2rem;
  }

  &__meanings {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.8125rem;

    li {
      padding-left: 1.25rem;
      font-size: 0.9375rem;

      @include tablet {
        @include body-m;
      }

      &::marker {
        color: $violet;
      }
    }
  }

  &__pos {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    font-weight: bold;
    font-style: italic;
    font-size: 1.125rem;
    margin-bottom: 2rem;

    @include tablet {
      @include heading-m;
      font-weight: bold;
    }

    .divider {
      height: 1px;
      background-color: var(--divider);
      flex: 1;
    }
  }

  &__example {
    margin-top: 0.8125rem;
    color: $stone;
  }

  &__source {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1.5rem;

    @include tablet {
      flex-direction: row;
      align-items: center;
      * {
        text-decoration: none !important;
      }
    }

    &-label {
      text-decoration: underline;
      color: $stone;

      @include tablet {
        margin-right: 1.5rem;
      }
    }

    a {
      color: var(--body-color);
    }
  }
}

.label {
  color: $stone;
  font-size: 1rem;

  @include tablet {
    @include heading-s;
  }
}

.synonym__list {
  display: flex;
  gap: 1.5rem;

  @include tablet {
    @include heading-s;
  }
}

.synonyms {
  list-style-type: none;
  color: $violet;
  font-weight: bold;

  li {
    cursor: pointer;
  }
}

.source__link {
  display: flex;
  gap: 1rem;
  align-items: center;

  img {
    height: 0.75rem;
    width: 0.75rem;
  }
}

hr {
  border: 0.75px solid var(--divider);
}
