.heading-l { 
  font-size: 4rem;
  line-height: 4.8125rem;
  font-weight: bold;
}

.heading-m {
  font-size: 1.5rem;
  line-height: 1.8125rem;
  font-weight: normal;
}

.heading-s {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: normal;
}

.body-m {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: normal;
}

.body-s {
  font-size: 0.875rem;
  line-height: 1.0625rem;
  font-weight: normal;
}