// colors
// dark theme
$obsidian: #050505;
$charcoal: #1f1f1f;
$cinder: #2d2d2d;
$granite: #3A3A3A;

$stone: #757575;
$cloud: #e9e9e9;
$violet: #A445ED;
$coral: #FF5252;

// light theme
$white: #ffffff; //background

// for both themes:
$violet: #A445ED; //toggle background + icon (dark); synonym + phonetics + search + play button icons


// breakpoints
$tablet: 600px;
$desktop: 1200px;