@use "../../assets/styles/partials/variables" as *;
@use "../../assets/styles/partials/typography" as *;
@use "../../assets/styles/partials/mixins" as *;

.searchBar {
    position: relative;

  &__input {
    font-weight: bold;
    font-size: 1rem;
    padding: 0 1.5rem;
    height: 3rem;
    color: var(--body-color);
    padding-right: 2.5rem;
    width: 100%;
    background-color: var(--input-box);
    border: none;
    border-radius: 1rem;

    @include tablet {
      font-size: 1.25rem;
    }

    &::placeholder {
      color: var(--placeholder);

      @include tablet {
        font-size: 1.25rem;
      }
    }

    &:focus {
      outline: 1px solid $violet;
    }

    &.errorState {
      outline: 1px solid $coral;

    }
  }

  &__form {
    position: relative;
  }

  .searchIcon {
    position: absolute;
    height: 1rem;
    width: 1rem;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);

  }
}

.errMsg {
  color: $coral;
  position: absolute;
  bottom: -1.25rem;

  @include tablet {
    bottom: -2rem;
  }
}
