@use "../../assets/styles/partials/variables" as *;
@use "../../assets/styles/partials/mixins" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;

  &__logo {
    height: 2rem;
    width: 1.75rem;

    @include tablet {
      width: 2rem;
      height: 2.28rem;
    }
  }

  &__toggles {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__divider {
    height: 2rem;
    width: 1px;
    background-color: $stone;
  }
}

// theme toggle styles:

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 1.25rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 1;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  background: $stone;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.875rem;
  width: 0.875rem;
  border-radius: 16px;
  left: 0.1875rem;
  top: 0.1875rem;

  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $violet;
}

input:checked + .slider:before {
  transform: translateX(1.25rem);
}

.themeToggle {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.themeIcon {
  stroke: var(--icon-stroke);
}

.fontStyle {
}
