@use "./assets/styles/partials/mixins" as *;

.app {
  &__container {
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-color);
    color: var(--body-color);
    padding: 1.5rem;
  }

  @include tablet {
    max-width: 90%;
    margin: 0 auto;
  }

  * {
    font-family: "Inter", sans-serif;
  }

  &.serif {
    * {
      font-family: "Lora", serif;
    }
  }

  &.mono {
    * {
      font-family: "Inconsolata", monospace;
      font-style: normal;
    }
  }
}

.fontStyle {
  border: none;
  background-color: transparent;
}
