@use "./assets/styles/partials/mixins" as *;
@use "./assets/styles/partials/typography" as *;

.app {
  margin: 0 auto;
  font-size: 1rem;

  @include tablet {
    @include body-m;
  }
  &__container {
    min-height: 100vh;
    width: 100vw;
    background-color: var(--bg-color);
    color: var(--body-color);
    padding: 1.5rem;

    @include tablet {
      padding: 3.75rem 2.25rem;
    }
  }

  @include tablet {
    max-width: 90%;
    
  }

  @include desktop {
    max-width: 50%;
  }

  * {
    font-family: "Inter", sans-serif;
  }

  &.serif {
    * {
      font-family: "Lora", serif;
    }
  }

  &.mono {
    * {
      font-family: "Inconsolata", monospace;
      font-style: normal;
    }
  }
}

.fontStyle {
  border: none;
  background-color: transparent;
}
