.app {
  padding: 1.5rem;
  * {
    font-family: "Inter", sans-serif;
  }

  &.serif {
    * {
      font-family: "Lora", serif;
    }
  }

  &.mono {
    * {
      font-family: "Inconsolata", monospace;
    }
  }
}

.fontStyle {
  border: none;
  background-color: transparent;
}
