@use "./assets/styles/partials/globals" as *;
@use "./assets/styles/partials/typography" as *;
@use "./assets/styles/partials/variables" as *;

:root {
  --bg-color: white;
  --icon-stroke: #{$stone};
  --input-box: #{$cream};
  --placeholder: rgba(59, 59, 59, 0.25);
  --body-color: #{$cinder};
  --divider: #{$cloud};
  --box-shadow: 0px 5px 30px 5px rgba(0, 0, 0, 0.1);
  --dropdown-bg: white;
}


[data-theme = "dark"] {
  --bg-color: #{$obsidian};
  --icon-stroke: #{$violet};
  --input-box: #{$charcoal};
  --placeholder: hsla(0, 100%, 100%, 0.25);
  --body-color: white;
  --divider: #{$granite};
  --box-shadow: 0px 5px 30px 5px #A445ED;
  --dropdown-bg: #{$charcoal};
}